.recommend-front {
  box-sizing: border-box;
  padding-top: 0 !important;
}

.recommend-back {
  box-sizing: border-box;
  gap: 10px !important;
  padding-top: 70px !important;
}

.recommend-album-detail,
.recommend-episodes-section-front,
.recommend-platforms-section {
  box-sizing: border-box !important;
  width: calc(100% - 24px) !important;
  height: calc(100% - 24px) !important;
  max-height: calc(100% - 24px) !important;
  margin: 12px !important;
  padding: 20px !important;
  overflow-y: auto !important;
}
